# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage

# Production
**/build
**/dist
**/.next
**/.nuxt
**/out

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log*
ui-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db 

functions/lib
